@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

html {
  scroll-behavior: smooth;
}

p {
  font-family: "Montserrat";
}

.caroussel-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height:400px;
}

.carousel-inner {
  background: url("../assets/BackgroundTexture.png") bottom center no-repeat;
  min-height: 490px;  
}

.PurchaseBackground {
  background: url("../assets/BackgroundTexture.png") bottom center no-repeat;
  min-height: 490px;
}

.hero-banner {
  background: url("../assets/hero.jpg") bottom center no-repeat;
  background-size: cover;
  min-height: 20vh;  
  /* background-origin: content-box; */
}


.hero-banner-title-bg {
  background-color: rgba(72, 86, 98, 0.75);
}

.font-archivo {
  font-family: 'Archivo Black', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-montserrat {
  font-family: "Montserrat";
  
}

.lh-75 {
  line-height: 75%;
}

@media only screen and (min-width: 800px) {
  .hero-banner {
    min-height: 86vh;  
  }
}

@media only screen and (max-width: 600px) {
  .page-title {
    font-size: 3em;
  }
}